
body {
  background-color: rgba(190, 189, 190, 0.794);
  margin: 0px;
  width: 100%;
  height: 100%;
}
#root {
  background-color: rgb(158, 156, 158);
  width: 90%;
  display: grid;
  grid-gap: 10px;
  justify-content: center;
  border-radius: 5px;
  margin: 30px 5% 10px 5%;
  box-shadow: 0px 0px 20px rgba(23, 24, 24, 0.7);
  padding-top: 20px;
}
.episode-all {
  width: 320px;
  height: 500px;
  background-color: rgb(223, 222, 223);
  border-radius: 5px;
  border: hidden;
}
.episode-title {
  font-family: "Lucida Console", Courier, monospace;
  font-size: 15px;
  text-align: left;
  margin-top: 0px;
  width: 320px;
  height: 50px;
  padding-top: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: white;
  background-color: #645f5f;
}
.image-episode {
  width: 300px;
  margin: 10px 10px;
  border-radius: 5px;
}
p {
  width: 300px;
  text-align: left;
  padding-left: 30px;
  font-family: "Lucida Console", Courier, monospace;
  font-size: small;
}

/* hover:  */
.episode-all:hover {
  width: 330px;
  height: 520px;
  border: 2px solid #5f5e5f;
  cursor: pointer;
  background-color: rgb(192, 189, 192);

}
.episode-all:hover > .episode-title {
  font-size: 17px;
  height: 65px;
  width: 330px;
  color: rgb(233, 231, 231);
  background-color: #3a3a3a;
}
.episode-all:hover > .image-episode{
  width: 340px;
  margin: 0px -5px;
}
.episode-all:hover > p {
  font-size: 14px;
}
 .link-Tv-Maze:hover {
  background-color: rgb(26, 25, 26);
  color: #b3afaf;
  padding: 20px 20px 10px 80px;
 }
.link-Tv-Maze {
  top: 90%;
  left : 0px;
  background-color: rgb(37, 34, 37);
  position: absolute;
  text-decoration: none;
  color: rgb(107, 110, 107);
  padding: 15px 20px 7px 50px;
  position: fixed;
  text-align: center;
}

/* response:  */
@media only screen and (min-width: 600px) {
  #root {   
    grid-template-columns: auto;    
  }
}
@media only screen and (min-width: 900px) {
  #root {    
    grid-template-columns: auto auto;  
  }  
}
@media only screen and (min-width: 1200px) {
  #root {    
    grid-template-columns: auto auto auto;
  }
}
@media only screen and (min-width: 1450px) {
  #root {    
    grid-template-columns: auto auto auto auto;    
  }
}
